<link rel="stylesheet" href="/static/booking.css" type="text/css">
  <div class="container">
            <div class="header">
                <h2>BOOK YOUR TAXI</h2>
            </div>
            <div class="mid-container">
            <form method="post">

                <label for = "pickUp">Pick Up</label>
                <select name="pickUp" id="pickUp" class="form-control">
                    {{#each pickup}}
                    <option value="{{this.dataValues.from}}">{{this.dataValues.from}}</option>
                    {{/each}}
                </select>
            
                <label for = "drop">Drop</label>
                <select name="drop" id="drop" class="form-control">
                    {{#each data}}
                    <option value="{{this.dataValues.to}}">{{this.dataValues.to}}</option>
                    {{/each}}
                </select>
                <div class="alert-danger" id="location"></div>
                
                <div id="dateDiv">
                    <label for = "date">Date</label>
                    <input type="date" id="date" placeholder="pick-up date" name="date" class="form-control">
                </div>
                
                <div id="timeDiv">
                    <label for = "time">Time</label>
                    <input type="time" id="time" placeholder="pick-up time" name="time" class="form-control">
                </div>
                <br>
                <div id="searchDiv">
                    <button type="submit" id="bookNow" class="btn btn-primary">Book Now</button>
                </div>
            </form>    
            </div>
</div>
