<link rel="stylesheet" href="/static/payment.css" type="text/css">
<div class="container-fluid">
<br/>
<br/>
<br/>

<div class="tableContainer" style = "display:flex; justify-content:center;">
    <div style = "display:flex; justify-content:center;">
    <table class="table table-bordered table-striped table-dark" style = "width:45vw;" id="paymentTable">
    <tr>
        <th>From</th>
        <td>{{data.dataValues.cabFrom}}</td>
    </tr>
    <tr>
        <th>To</th>
        <td>{{data.dataValues.cabTo}}</td> 
    </tr>
        <th>Cost</th>
        <td>{{data.dataValues.cost}}</td>
   </table>
   <br>
   
</div>
</div>
<div style= "display:flex; justify-content:center;"">
<div>
    <a href="/paymentInvoice/{{data.dataValues.bookingId}}">
        <button class="btn btn-success">Pay Now</button>
    </a>
  </div>
</div>

</div>