
.header{
    color: rgb(255, 255, 255);  
    padding-top: 11px;; 
    padding-left: 410px;
    font-weight: bold;
    font-size: 23px;
   
}
.mid-container{
    background-color: rgb(245, 245, 245, 0.4);
    margin-top: 60px;
    margin-left: 330px;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 480px;
    height: 340px;
    border-radius: 20px;
}
/* #pickup{
    width: 350px;
    height:35px;
}
#drop{
    width: 350px;
    height:35px;
}
#date{
    width: 170px;
    height:35px;
    
}
#time{
    width: 170px;
    height:35px;
} */
#passenger{
    width: 350px;
    height:35px;
}
#search{
    width: 350px;
    height: 33px;
    background-color: #04AA6D;
    border: 0px;
    color: white;
    font-weight: bold;
}


  .alert-danger{
    color: red;
  }

  body {
    background-image: url('destination4.webp');
    background-repeat: none;
    background-size: cover;
    
  }
  h2{
    font-family: Arial, Helvetica, sans-serif;

  }
  #bookNow 
  {
    margin-left: 150px;
  }
 