body{
    background-color: beige;
    margin: 0px;
}
.register-section{
    background-color: white;
    margin-left: 300px;
    margin-right: 390px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;

}
#firstName{
    width:380px;
    height: 29px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}
#lastName{
        width:380px;
        height: 29px;
        font-size: 16px;
        padding: 10px;
        font-weight: bold;
}
#address{
        width:380px;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        font-weight: bold;
}
#dob{
        width:380px;
        height: 29px;
        font-size: 16px;
        padding: 10px;
        font-weight: bold;
}
#mobile{
        width:380px;
        height: 29px;
        font-size: 16px;
        padding: 10px;
        font-weight: bold;
}
#email{
    width:380px;
    height: 29px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}
#gender
{
    width:380px;
    height: 29px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}
#password{
    width:380px;
    height: 29px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}

#confirm{
    width:380px;
    height: 29px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}
#register{
    width: 380px;
    height: 33px;
    background-color: #04AA6D;
    border: 0px;
    color: white;
    font-weight: bold;
}
#h2{
    margin-left: 445px;
    font-weight: bold;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#registerButton
{
    margin-left: 140px;
}
.alert-danger{
    color: green;
}